header{
    height: 4rem;
    background-color:#001a65;
    color: white;
    display: flex;
    align-items: center;
    z-index: 50;
}

header > div{
    flex-grow: 1;
}

header .title{
    width: 20%;
}

.search{
    width: 20%;
    display: flex;
}

.search input[type='search']{
    width: 80%;
    /* margin-right: 0.5rem; */
}

.search input,
.search div{
    height: 1.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border: 0px;
    /* outline: none; */
}

.search input:focus{
    outline: 0.1rem solid rgb(0, 30, 255);
}
#Search:hover{
    cursor: pointer;
    color: rgb(131, 179, 247);
}

.nav:hover{
    cursor: pointer;
    color: rgb(131, 179, 247);
}

.cancle-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.cancle-btn:hover{
    color: azure;
    filter: blur(0.5px);
}

.title{
    text-align: center;
}