.shield{
    display: block;
    background-color: rgba(48, 48, 48, 0.832) !important;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

.loading-box{
    display: block;
    position: fixed;
    top: 3rem;
    z-index: 200;
    right: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-message{
    display: flex;
    /* border: 1px solid black; */
    /* width: 20rem; */
    height: 3rem;
    align-items: center;
    padding: 0rem 0.5rem;
    border-radius: 0.25rem;
    background-color: white;
}

.icon{
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 50%;
    padding: 0.1rem;
    color: white;
    margin-right: 1rem;
}

.done-box .icon{
    background-color: chartreuse;
}

.message{
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 0.85rem;
}

.error-box .icon{
    background-color: rgb(255, 0, 0);
}

.infor-box .icon{
    background-color: yellow;
}

.warring-box .icon{
    background-color: rgb(255, 200, 0);
}

.unknow-box .icon{
    background-color: red;
}

.check-box{
    margin-left: 1rem;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 0.85rem;
}
.check-box > i{
    margin-left: 1rem;
}
