.BlogManage{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.colum-nav{
    width: 20% ;
    /* border: 1px solid black; */
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 1.25rem 0.75rem;
    background-color: rgb(237, 237, 237);
}

.colum-nav .nav{
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: white;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
}

.dashboard{
    width: 80% !important;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    padding-top: 4rem;    
    /* border: 1px solid black; */
}

.dashboard .tool-bar{
    display: flex;
    width: 100%;
    /* flex-grow: 1; */
    align-items: center;
    
}


.tool-bar .type-count{
    flex-grow: 1;
}

.tool-bar .type-count select{
    text-align: center;
    height: 2rem;
    width: 8rem;
    padding: 0.2rem 0.75rem 0.2rem 1.15rem;
    border: 0 !important;
    background-color:  rgb(237, 237, 237);
    /* display: none; */
    border-radius: 0.1rem;
    outline: 0;
    cursor: pointer;
    /* appearance: none; */
}

option {
    /* padding: 5px; */
    
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
    text-align: left;
    /* background-color: white; */
}

/* .tool-bar .type-count select:focus{
    color: ;
} */

.tool-bar .manage-blog-button button{
    height: 2rem;
    width: 5rem;
    border: 0;
    background-color:rgb(237, 237, 237);
    cursor: pointer;
}

.new-post{
    width: 3.75rem;
    height: 3.75rem;
    background-color:#001a65;
    position: fixed;
    bottom: 2rem ;
    right: 2rem ;
    border-radius: 50%;
    border: 0.1rem solid white;
    color: white;
    z-index: 100;
    font-size: 2.3rem;
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    align-self: center;
}

.new-post *{
    flex-grow: 1;
}

.blog-result:last-child{
    margin-bottom: 5rem;
}

.box-blog{
    display: flex;
    width: 100%;
    /* height: 5rem; */
    margin-top: 1.5rem;
    background-color: rgb(237, 237, 237);
    padding: 0.75rem 1rem;
    flex-wrap: wrap;
}


.box-blog .blog-title,
.box-blog .blog-type{
    width: 50%;
    margin-bottom: 0.75rem;
}

.box-blog .date-upblog,
.box-blog .blog-view,
.box-blog .blog-comment,
.box-blog .blog-like{
    width: 25%;
    /* align-items: center; */
    align-self: self-end;
}

.view-statistical{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: rgb(237, 237, 237);
}

.board-statistical{
    margin-top: 2.5rem;
    width: 100%;
    height: 55vh;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-grow: 1;
}

.view-height{
    background-color: #001a65;
    /* width: 3.4%; */
    /* max-width: 10%; */
    margin: 0rem 0.25%;
    position: relative;
    text-align: center;
    overflow: hidden;
    color: white;
}

.label-view-height{
    position: relative;
    left: 0;
    bottom: 0rem;
    font-size: 1rem;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    /* align-self:self-end; */
    /* bottom: -2rem; */
}

.comments-result{
    width: 100%;
    /* height: 5rem; */
    background-color:rgb(237, 237, 237);
    padding: 1rem;
    margin-top: 1rem;
}

.blog-title-comment{
    /* border: 1px solid black; */
    display: inline-block;
    padding: 0.25rem;
    border-radius: 0.75rem 0.75rem 0.75rem 0.1rem;
    background-color: #001a65;
    color: white;
}

.comments-count{
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

.box-comment{
    background-color: white;
    /* margin-top: 1rem; */
    padding: 0.5rem 0.75rem;
    display: flex;
}

.box-comment:first-child{
    margin-top: 1rem;
    border-radius: 0.75rem 0.75rem 0 0;
}

.box-comment:last-child{
    border-radius:0 0  0.75rem 0.75rem ;
    
}

.name-user-comment{
    background-color: #414344;
    color: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin-right: 2rem;
    max-height: 1.5rem ;
    max-width: 20%;
    /* flex-grow: 1; */
}

.user-comment-content{
    max-width: 80%;
    background-color: rgb(237, 237, 237);
    padding: 0.2rem;
    border-radius: 0.1rem 0.75rem 0.75rem 0.75rem;
}

.write-title-blog{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /* flex-grow: 1; */
    height: 3.5rem;
}

.write-title-blog input{
    max-width: 90%;
    width: 90%;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 1.2rem;
    background-color:  rgb(237, 237, 237);
    border: 0;
    outline: 0
}

.write-title-blog button{
    flex-grow: 1;
    font-size: 1.2rem;
    background-color:  rgb(237, 237, 237);
    border: 0;
}

.write-option{
    /* width: 70%; */
    /* height: 2rem; */
    /* margin-top: 2rem; */
    position: fixed;
    bottom: 0.5rem;  
    /* overflow: hidden; */
    left: 50%; 
    /* margin: auto;  */
    /* transform: scaleX(50%); */
    transform: translateX(-50%);
    border: 2px solid #001a65;
    /* border-bottom: 0; */
    background-color:rgb(237, 237, 237);
    z-index: 50;
    border-radius: 0.2rem 0.2rem;
    padding: 0.1rem;
}

.write-option > button{
    width: 2rem;
    height: 2rem;
    /* font-size: 1rem; */
    border: 0;
}

.write-option > input::-webkit-outer-spin-button,
.write-option > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.write-option > input{
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    border-radius: 0.2rem;
    outline: none;
    -moz-appearance: textfield; 
    text-align: center;
    cursor: text !important;
}


#site-wirte-blog-content{
    min-height: 58vh;
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
   
    resize: vertical;
    background-color:  rgb(237, 237, 237);
    padding-left: 2rem;
}

/* .onlyone{
    background-color: #001a65;
    color: white;
} */

.BlogManage .nav.active{
    background-color: #001a65;
    color: white;
}

.bold{
    display: inline-block; 
    font-weight: bold;
    min-width: 1px;
    /* background-color: #001965; */
    min-height: 1px;
}

#overview-popup{
    display: block;
    position: absolute;
    top: 1rem;
    width: 75%;
    background-color:rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #001a65;
    box-shadow: 0rem 0rem 0.5rem gray;
    max-height: 50vh;
    overflow-y: scroll;
    z-index: 100;
}

#title-overview{
    font-size: larger;
    text-wrap: wrap;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
}

#overview{
    width: 100%;
    margin-top: 2rem;
}

.box-type-blogs{
    padding-top: 1rem;
}

.type-checkbox{
    margin: 0.25rem 0rem 0.25rem 0.25rem;
    width: 0.85rem;
}
